{% extends '_base.html' %}

{% block page_title %}Posts{% endblock page_title %}

{% block content %}
    {% for post in posts %}
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                {% if post.cover %}
                                    <img src="{{ post.cover.url }}" class="card-img" alt="Blog Post Image" width="400"
                                         height="250">
                                {% else %}
                                    <img src="https://via.placeholder.com/400x250" class="card-img"
                                         alt="Blog Post Image" width="400"
                                         height="250">
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a href="{{ post.get_absolute_url }}" class="text-decoration-none text-black">
                                        <h5 class="card-title">{{ post.title }}</h5>
                                    </a>

                                    <p class="card-subtitle mb-2 text-muted"><small>by: {{ post.author }}</small> |
                                        <small>Posted on {{ post.datetime_created|date }}</small></p>
                                    <p class="card-text">{{ post.description|truncatewords:50 }}</p>

                                    <div class="position-absolute bottom-0 start-0 mb-3 ms-3">
                                        <a href="{{ post.get_absolute_url }}" class="btn text-light "
                                           style="background-color: #00967d;">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock content %}