{% extends '_base.html' %}

{% block page_title %}Posts{% endblock page_title %}

{% block content %}
    {% for post in posts %}
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="https://via.placeholder.com/400x250" class="card-img" alt="Blog Post Image">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted"><small>by: {{ post.author }}</small></h6>
                                    <p class="card-text"><small>Posted on {{ post.datetime_created|date }}</small></p>
                                    <p class="card-text">{{ post.description|truncatewords:50 }}</p>

                                        <a href="#" class="btn text-light" style="background-color: #00967d;">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock content %}