{% extends '_base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block page_title %}{% trans 'New Post' %}{% endblock page_title %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header" style="background-color: #00967d; color: white;">
            <h1>{% trans 'New Post' %}</h1>
        </div>
        <div class="card-body" style="background-color: #f5f5f5;">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form|crispy }}
                </div>
                <button type="submit" class="btn mt-3" style="background-color: #00967d; color: white;">{% trans 'Create' %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
